.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.main > * {
  border: 1px solid #eee;
}
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.4fr auto;
  grid-auto-flow: row;
  grid-gap: 1px;
  background-color: rgb(255, 255, 255);
}

.grid-container > span {
  height: 100px;
}
