.cell {
  height: 100px;
  background-color: var(--background);
  color: var(--text);
  transition: all 0.3s;
}

.cell:first-of-type {
  grid-column-start: attr(data-start integer, 3);
}

.cell button {
  background-color: transparent;
  color: var(--accent);
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 70%;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s;
}

.cell button:hover {
  background-color: rgb(186, 219, 219);
}

[data-theme="dark"] .cell button:hover {
  background-color: rgb(38, 87, 87);
}

.cell span {
  display: block;
  padding: 12px 0 0 12px;
}

@media screen and (max-width: 800px) {
  .cell {
    grid-column-start: unset !important;
    border-bottom: 1px solid rgb(150, 150, 150);
  }
  [data-theme="dark"] .cell span {
    color: #bbb;
  }
  .cell span {
    color: #000;
  }

  .cell span::after {
    content: attr(data-day);
    color: #858585f8;
  }
  .cell button {
    padding-left: 12px;
  }
}
