.theme-wrapper {
  position: absolute;
  inset: 0;
  min-height: 100vh;
  bottom: unset;
  background-color: var(--main-bg);
}

.main {
  position: relative;
  margin: 300px auto 0;
  width: 900px;
  height: auto;
  padding: 32px 64px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg);
  box-shadow: 0 5px 15px 10px rgba(0, 0, 0, 0.1);
}

.main span {
  display: inline-block;
  margin-bottom: 8px;
}

.card > span:first-child {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}

.wrapper {
  margin-bottom: 12px;
  white-space: nowrap;
}

.wrapper span {
  color: var(--text-accented);
}
.wrapper span:not(:last-child)::after {
  content: "\00a0|\00a0";
}

.wrapper span:not(:last-child) {
  color: #888;
}
.title {
  color: var(--text-accented);
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 100px;
  top: 100px;
  background-color: rgb(186, 219, 219);
  color: #333;
  height: 75px;
  width: 155px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 15px 10px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

.back-button::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1);
  height: 75px;
  width: 155px;
  content: "";
  background-color: rgba(161, 196, 196, 0.151);
  z-index: 0;
  transition: all 0.5s;
  border-radius: 5px;
}

.back-button:hover::before {
  transform: scale(1.5, 1.8);
}

@media screen and (max-width: 1000px) {
  .main {
    width: 80%;
  }
  .back-button {
    left: 10%;
  }
  .wrapper {
    white-space: break-spaces;
  }
}

@media screen and (max-width: 550px) {
  .back-button {
    top: 5%;
  }
  .main {
    padding: 32px 32px;
    margin-top: 150px;
    margin-bottom: 128px;
  }
}
