.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  background-color: var(--secondary-bg);
  transition: background-color 0.2s;
}

.header span {
  align-self: center;
  margin-left: 64px;
}

.container {
  display: flex;
  align-items: center;
  justify-self: center;
}

.year {
  color: var(--text);
  font-size: 20px;
}

.container button {
  background-color: transparent;
  color: var(--text);
  height: 48px;
  width: 48px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.container button:hover {
  background-color: #eee;
}

[data-theme="dark"] .container button:hover {
  background-color: rgb(38, 87, 87);
}

.container h2 {
  display: inline;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text);
  font-weight: 500;
}

.btn-theme {
  color: var(--text);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all 0.3s;
}

.btn-theme:hover {
  background-color: rgba(134, 134, 134, 0.158);
  color: var(--accent);
}
