.container {
  display: flex;
  align-items: center;
  justify-self: center;
}

.container button {
  background-color: transparent;
  color: var(--text);
  height: 48px;
  width: 48px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.container button:hover {
  background-color: #eee;
}

[data-theme="dark"] .container button:hover {
  background-color: rgb(38, 87, 87);
}

.container h2 {
  display: inline;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text);
  font-weight: 500;
}
